.banner {
  background-color: #f1f1ef;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 12px;
  font-weight: 400;
  padding: 10px;
}

@media (max-width: 1200) {
  .banner {
    display: flex;
  }
}
@media (max-width: 640px) {
  .banner {
    display: none;
  }
}

@media (max-width: 474px) {
  .banner {
    display: none;
  }
}
